body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-style: italic;
    font-size: 24px;
}


p{
    margin-top: 40px;
    font-style: oblique;
    text-align: center;
    margin-left: 10px;
}


#box-a{
    background-color: blue;
    padding: 1px 1px 1px 1px;
    border: 1px solid black;
    margin: 25px;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 15px;
    position: relative;
    margin-top: 60px;
}

#box-b{
    background-color: blue;
    padding: 1px 1px 1px 1px;
    border: 1px solid black;
    margin: 25px;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 15px;
    position: relative;
    margin-top: 60px;
}

#box-c{
    background-color: blue;
    padding: 1px 1px 1px 1px;
    border: 1px solid black;
    margin: 25px;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 15px;
    position: relative;
    margin-top: 60px;
}

#box2-a{
    box-sizing: border-box;
    background-color: brown;
    width: 100px;
    border: black solid 1px ;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

#box2-b{
    box-sizing: border-box;
    background-color: grey;
    width: 100px;
    border: black solid 1px ;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
}

#box2-c{
    box-sizing: border-box;
    background-color: burlywood;
    width: 100px;
    border: black solid 1px ;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
}



@media (min-width: 992px) {
    #box-a,#box-b,#box-c{
        width: 28.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #box-a,#box-b{
        width: 41%
    }
    #box-c{
        width:88%
    }
}

@media (max-width: 767px) {
    #box-a,#box-b,#box-c{
        width: 86%
    }
}